<main class="bx--content">
  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>asf</h4>
      <p ibmTableHeaderDescription>asfas</p>
    </ibm-table-header>
    <!--
      app-* components are for demo purposes only.
      You can create your own implementation by using the component source as an example.
    -->
    <ibm-table
      [model]="model"
      [stickyHeader]="false"
      [size]="size"
      [skeleton]="false"
      [enableSingleSelect]="false"
      [showSelectionColumn]="true"
      [striped]="false"
      [sortable]="true"
      [isDataGrid]="true"
    >
    </ibm-table>
  </ibm-table-container>
  <router-outlet></router-outlet>
</main>
